@import (reference) 'variables.less';

* {
  contain: content;
  box-sizing: border-box;
}

:root {
  font-family: @font-family-sans-serif;
  font-weight: @font-weight-medium;
  line-height: 1.725;
  color: @gray-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  font-size: @font-size-medium;
}

@media screen and (min-width: 30rem) {
  html {
    font-size: calc(@font-size-medium + 0.4 * ((100vw - 30rem) / 50));
  }
}

body {
  margin: 0;
}

h1 {
  font-size: @font-size-large;
  margin-bottom: 0;
}

a {
  color: @dark-teal;
  display: inline-block;
  vertical-align: bottom;
  transition: color 0.2s ease-in-out;
}
a:before,
a:after {
  content: '';
  width: 0;
  height: 100%;
  transition: 0.2s ease-out;
}
a:hover,
a:focus {
  text-decoration: underline;
}

@supports (mix-blend-mode: lighten) {
  a:hover,
  a:focus {
    position: relative;
    display: inline-flex;
    vertical-align: bottom;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
  }
  a:hover::before,
  a:focus::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(
      circle,
      #23966c,
      #faaa54,
      #e23b4a,
      #db0768,
      #360670
    );
    pointer-events: none;
  }
  a:hover::before,
  a:focus::before {
    mix-blend-mode: screen;
  }
}

p {
  color: @gray;
  font-weight: @font-weight-base;
}
