.header {
  isolation: isolate;
}

.header h1 {
  line-height: initial;
}

@supports (mix-blend-mode: lighten) {
  .header h1 {
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
  }
  .header h1::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle, #23966c, #faaa54, #e23b4a, #db0768, #360670);
    pointer-events: none;
  }
  .header h1::before {
    mix-blend-mode: screen;
  }
  .header h1:after {
    content: '\200B';
  }
}
