@import '../../../../css/variables.less';

.container {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 25px;
  padding-right: 25px;
  overflow-wrap: break-word;
}

.content {
  margin: 0 auto;
  max-width: @content-width;
}
