* {
  contain: content;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #868e96;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 30rem) {
  body {
    font-size: calc(1.25rem + 0.4 * ((100vw - 30rem) / 50));
  }
}

a {
  color: #246382;
  display: inline-block;
  vertical-align: bottom;
  transition: color 0.2s ease-in-out;
}

a:before,
a:after {
  content: '';
  width: 0;
  height: 100%;
  transition: 0.2s ease-out;
}

a:hover,
a:focus {
  text-decoration: underline;
}

@supports (mix-blend-mode: lighten) {
  a:hover,
  a:focus {
    position: relative;
    display: inline-flex;
    vertical-align: bottom;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
  }

  a:hover::before,
  a:focus::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle, #23966c, #faaa54, #e23b4a, #db0768, #360670);
    pointer-events: none;
  }

  a:hover::before,
  a:focus::before {
    mix-blend-mode: screen;
  }
}

p {
  color: #868e96;
  text-wrap: pretty;
  font-weight: 300;
}

header {
  isolation: isolate;
}

header h1 {
  line-height: initial;
}

@supports (mix-blend-mode: lighten) {
  header h1 {
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
  }

  header h1::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle, #23966c, #faaa54, #e23b4a, #db0768, #360670);
    pointer-events: none;
  }

  header h1::before {
    mix-blend-mode: screen;
  }

  header h1:after {
    content: '\200B';
  }
}

main {
  max-width: 660px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 25px;
  padding-right: 25px;
  overflow-wrap: break-word;
}

footer {
  margin-top: 2em;
  margin-bottom: 0;
  font-size: 0.6rem;
}
